{% extends "base.html" %}
{% load staticfiles %}

{% block title %}D3 page template{% endblock %}

{% block css %}
    <style>
    div.bar {
        display: inline-block;
        width: 20px;
        height: 75px;
        background-color: #004400;
        margin-right: 2px;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="d3demo">
{#    <h3 class="tm-article-subtitle">示例区域</h3>#}

{#        <h3 class="tm-article-subtitle">方块</h3>#}
{#        <div id="id_bar" class="bar"></div>#}
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static "js/d3.js" %}"></script>
    <script type="text/javascript">

        //Width and height
        var w = 600;
        var h = 250;

        var dataset = [ 5, 10, 13, 19, 21, 25, 22, 18, 15, 13,
                        11, 12, 15, 20, 18, 17, 16, 18, 23, 25 ];

        var xScale = d3.scale.ordinal()
                        .domain(d3.range(dataset.length))
                        .rangeRoundBands([0, w], 0.05);

        var yScale = d3.scale.linear()
                        .domain([0, d3.max(dataset)])
                        .range([0, h]);

        //Create SVG element
        var svg = d3.select(".d3demo")
                    .append("svg")
                    .attr("width", w)
                    .attr("height", h);

        //Create bars
        svg.selectAll("rect")
           .data(dataset)
           .enter()
           .append("rect")
           .attr("x", function(d, i) {
                return xScale(i);
           })
           .attr("y", function(d) {
                return h - yScale(d);
           })
           .attr("width", xScale.rangeBand())
           .attr("height", function(d) {
                return yScale(d);
           })
           .attr("fill", function(d) {
                return "rgb(0, 0, " + (d * 10) + ")";
           });

        //Create labels
        svg.selectAll("text")
           .data(dataset)
           .enter()
           .append("text")
           .text(function(d) {
                return d;
           })
           .attr("text-anchor", "middle")
           .attr("x", function(d, i) {
                return xScale(i) + xScale.rangeBand() / 2;
           })
           .attr("y", function(d) {
                return h - yScale(d) + 14;
           })
           .attr("font-family", "sans-serif")
           .attr("font-size", "11px")
           .attr("fill", "white");




        //On click, update with new data
        var fun = function() {

                //New values for dataset
                var numValues = dataset.length;
                dataset = [];
                for (var i = 0; i < numValues; i++) {
                    var newNumber = Math.floor(Math.random() * 25);
                    dataset.push(newNumber)
                }

                //Update Scale
                var xScale = d3.scale.ordinal()
                                .domain(d3.range(dataset.length))
                                .rangeRoundBands([0, w], 0.05);

                var yScale = d3.scale.linear()
                                .domain([0, d3.max(dataset)])
                                .range([0, h]);
                //Update all rects
                svg.selectAll("rect")
                        .data(dataset)
                        .transition()
                        .delay(function (d, i) {
                            return i / dataset.length * 1000;
                        })
                        .duration(500)
                        .attr("y", function(d) {
                                return h - yScale(d);
                            })
                        .attr("height", function(d) {
                                return yScale(d);
                            })
                        .attr("fill", function(d) {
                                return "rgb(0, 0, " + (d * 10) + ")";
                            });

                //Update all labels
                svg.selectAll("text")
                   .data(dataset)
                        .transition()
                        .delay(function (d, i) {
                            return i / dataset.length * 1000;
                        })
                        .duration(500)
                   .text(function(d) {
                        return d;
                   })
                   .attr("x", function(d, i) {
                        return xScale(i) + xScale.rangeBand() / 2;
                   })
                   .attr("y", function(d) {
                        return h - yScale(d) + 14;
                   });

            };
    setInterval("fun()", 500)


    </script>
{% endblock %}